.body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    min-height: 100vh;
}

.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 10;
}

.main {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}