.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;

    pointer-events: none;
    z-index: 50;
    transition: transform 0.1s ease-out;
}