.container {
    width: 100%;
    height: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.iframe {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: white;
}